*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env

node_modules/
__pycache__
env/
frontend/static/frontend/
*.sqlite3
webpack-stats.json
yarn.lock
/staticfiles/
