{% extends 'layouts/base.html' %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>
            Built with Django & <a target="_blank" href="https://reactflow.dev/">ReactFlow</a>
          </h5>
        </div>
        <div class="card-block px-0 py-3">
            <div id="app"></div>
            {% render_bundle 'frontend' %}
        </div>
      </div>
    </div>
    <!--[ Recent Users ] end-->

  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}